.Toolbar {
  height: 100%;
}

.Toolbar > div {
  text-align: center;
  color: #c1cfdd;
  line-height: 40px;
  width: 40px;
}

.Toolbar > div:hover {
  cursor: pointer;
  background-color: #f8f8f8;
}

.add {
  -webkit-text-stroke: 2px white;
  float: right;
}
